<div class="register-container">


  <header class="app-header">
    <h1>Автор проекта:</h1>
    <h1>Смирнов Андрей Алексеевич</h1>
    <p>Группа: P3213 | Вариант: 1730</p>
  </header>


  <main class="register-box">
    <h2>Регистрация</h2>

  
    <form [formGroup]= 'registerForm' (ngSubmit)="onSubmit()">

      
      <div class="input-group">
        <label for="username">Логин</label>
       <input id="username" type="text" formControlName="username" placeholder="придумайте логин">

      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-list">
          <div *ngIf="username.errors?.['required']">Логин обязателен.</div>
          <div *ngIf="username.errors?.['minlength']">Минимум 3 символа.</div>
        </div>
      </div>

   
      <div class="input-group">
        <label for="password">Пароль</label>
        <input id="password" type="password" formControlName="password" placeholder="придумайте пароль">
        
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-list">
          <div *ngIf="password.errors?.['required']">Пароль обязателен.</div>
          <div *ngIf="password.errors?.['minlength']">Минимум 6 символов.</div>

          <div *ngIf="password.errors?.['passwordStrength']?.hasUpperCase">Нужна хотя бы одна заглавная буква.</div>
          <div *ngIf="password.errors?.['passwordStrength']?.hasLowerCase">Нужна хотя бы одна строчная буква.</div>
          <div *ngIf="password.errors?.['passwordStrength']?.hasNumeric">Нужна хотя бы одна цифра.</div>
        </div>
      </div>

       <div class="input-group">
        <label for="confirmPassword">Повторите пароль</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="повторите пароль">
        
        <div *ngIf="registerForm.errors?.['passwordsMismatch'] && confirmPassword.touched" class="error-list">
          Пароли не совпадают.
        </div>
      </div>

 
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

     
      <button type="submit" class="main-btn" [disabled]="registerForm.invalid">
        {{ isLoading ? 'Регистрация...' : 'Зарегистрироваться' }}
      </button>

      

    <div class="separator" >У вас уже есть аккаунт?&nbsp;
        <a href="/login">Войти</a> 
    </div>
    

    </form>
  </main>

</div>